@model NoCopiesInfo
<head>
    <link rel="stylesheet" href="~/css/table.css">
</head>
<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h2>Number of Copies: @Model.copies</h2>
    <h2>Number of Avaiable:@Model.avaiable</h2>
    <h3>Current Borrowed copies:@Model.borrowed</h3>
    <table>
        @if (Model.UserBorrowed.Count != 0)
        {
        <tr>
            <th>User Name</th>
            <th>Book Copy ID</th>
            <th>Date due Back</th>
        </tr>
        }
        @foreach (var user in Model.UserBorrowed)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.ID</td>
                <td>@user.Duedate.ToShortDateString()</td>
            </tr>
                //queery to count number of current available copies
         }
</table>
</div>