@model Bookish.Web.Models.EditBookModel
@{
    ViewBag.Title = "Edit Book";
}
<head>
    <link rel="stylesheet" href="~/css/table.css">
</head>

<div class="text-center">
    <table>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>BarCode</th>
        </tr>
        <tr>
            <td>@Model.BookName</td>
            <td>@Model.Author</td>
            <td>@Model.ISBN</td>
            <td>@Model.BarCode</td>
        </tr>
    </table>
    @using (Html.BeginForm("EditBook", "Home", FormMethod.Post))
    @*should the FormMethod be Put ?*@
    {
        <div class="text-center">
            <h3>Edit Book</h3>

            <div class="bookname">
                <label for="Title">Title</label>
                @Html.TextBoxFor(m => m.BookName)
            </div>
            <div class="author">
                <label for="Author">Author</label>
                @Html.TextBoxFor(m => m.Author)
            </div>
            <div class="numbers">
                <label for="ISBN">ISBN</label>
                @Html.TextBoxFor(m => m.ISBN)
                <label for="BarCode">Barcode</label>
                @Html.TextBoxFor(m => m.BarCode)
            </div>
            <div class="submission">
                <input type="submit" value="Submit" />
            </div>


        </div>
    }
</div>
