@model List<Bookish.DataAccess.PersonalBook>
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <head>
        <link rel="stylesheet" href="~/css/table.css">
    </head>
<div id="main" class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <h2 class="display-4">Books you have borrowed</h2>
        <table>
            <tr>
                <th>Book ID</th>
                <th>Book name</th>
                <th>Date due Back</th>
                <th>Return a Book</th>
            </tr>
            @foreach (var userbook in Model)
            {
        <tr>
            <td>@userbook.ID</td>
            <td>@userbook.BookName</td>
            <td>@userbook.Duedate.ToShortDateString()</td>
            @using (Html.BeginForm("ReturnedBook", "Home", FormMethod.Post))
            {
                <td>
                    <input type="hidden" name="bookID" value="@userbook.ID" />
                    <div class="submission">
                        <input type="submit" value="Return" />
                    </div>
                </td>
            }
        </tr>
            }
        </table>
    }
    else
    {
        <h1 class="display-4">Not signed in ..</h1>
        <h2 class="display-4">what a loser.</h2>
    }
</div>
